{% extends "layout.html" %}

{% block content %}

    <h2>Create Article</h2>


    <form action="?{{ request.query_string }}" method=post>
    {{ form.hidden_tag() }}

    {{ form.title.label }}
    {{ form.title }}

    {{ form.body.label }}
    {{ form.body }}

    {{ form.category.label }}
    {{ form.category }}<br/>

    {{ form.person_name }}

   <input id="submit" name="submit" class="btn btn-inverse" type="submit" value="Create article">
  </form>
        <hr/>
        <a href="{{ url_for('category') }}" class="btn btn-inverse">Create New Category</a>
    <hr/>
{% endblock %}