<!DOCTYPE html>
<html>
<head>
    <title>Contact Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
</head>
<body>
<div class="container">
      <div class="page-header">
        <h1>Flask Blog</h1>
      </div>
 <header>
     <div class="navbar">
  <div class="navbar-inner">

    <ul class="nav">
      <li><a href="{{ url_for('index') }}">Home</a></li>
          {% if 'email' in session %}

          <li><a class='active' href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('signin') }}">Sign In</a></li>
          {% endif %}
     </ul>
  </div>
</div>


        </ul>
      </nav>
  </header>
    {% block content %}

    {% endblock %}

    <div class="modal-footer">
        <h4>&copy; pypix</h4>
    </div>
</div>
</body>
</html>

